body {
  margin: 0;
  background-color: #ebebeb;
  font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif
}

a {
  text-decoration-line: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 1rem 0;
}

#topBar {
  background-color: #ebebeb;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.vue-map-container {
  /* border: red solid 1px; */
  width: 100%;
}

.vue-map {
  position: relative;
  height: 60vh !important;
  /* width: calc(100% - 10px) !important; */
  z-index: 10;
  border-radius: 10px;
}

.vue-map-hidden {
  width: 400px;
  min-width: 300px;
}
